@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

body {
  font-family: "Ruluko", sans-serif;
  margin: 0px auto;
  text-align: center;
  width: 700px;
  display: felx;
  justify-content: center;
  align-items: center;
}

#title {
  color: #fbec5d;
  border-radius: 5px;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  margin: 0;
}